<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{names nameFromForm}}
    <div id="output"></div>
</body>
<script>
        const webSocket = new WebSocket('ws://localhost:443/');
        let el;
        const output = document.querySelector('#output')

        webSocket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.log(data.names);
            var html = "";
            for(let i = 0; i < data.names.length; i++){
                html += data.names[i] + "<br>"
            }
            output.innerHTML = html
        };
   </script>
</html>